/* AppComponent's private CSS styles */
html{
  margin: 0 ;
  padding: 0;
  border: 0;
}
.container{
  width: 100vw;
  height: 100vh;
  /*padding: 0;*/

}
h1 {
  margin: 0 auto;
  /*text-align: center;*/
}
nav{
  display: flex;
  justify-content: start;
  /*text-align: center;*/
  /*background-color: rgba(137, 155, 217, 0.69);*/
}
nav a {
  padding: 1rem;
  text-decoration: none;
  /*margin-top: 10px;*/
  display: inline-block;
  background-color: #cddadb;
  color: #3d3d3d;
  border-radius: 4px;
  margin-right: 1rem;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}
